@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Montserrat:wght@100&display=swap');
.sec-2{
    /* margin: 0;
    padding: 0; */
    width: 100%;
    height: 700px;
    /* align-items: center; */
    padding: 100px 0 0 0;
}
p{
    text-align: center;
}

.short-text{
    /* width: 53.5%; */
    /* font-size: 42px; */
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-weight: 200;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 40px;
}

.long-text{
    /* width: 53.5%; */
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 370px;
    line-height: 1.8em;
    letter-spacing: .5px;
    color: #1f1f1f;
    margin-left: 30px;
    margin-bottom: 30px;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #1c79c4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: .3em;
   line-height: 2.5em;
}
button{
    margin-bottom: 30px;
    padding: 21px 34px;
    border: 2px solid black;
    background-color: white;
    transition: 0s background-color color;
    font-size: 15px;

}
button:hover{
    cursor: pointer;
    background-color: #1f1f1f;
    color: white;
    transition-duration: .21s;
    /* transition-delay:.1s; */
}