.sec-1{
    width: 100%;
    background-image: url(../images/vs-lightbulb-home-page.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:0px -345px ;

    background-size: 100%;
    height: 590px;
}